extends layout

block scripts
  script(src="/public/utils.js")
  script(src="/src/scripts/config.js")

block content
    div(style='text-align:center')
        h1 Platform Extensibility App
        p Welcome to #{title}
        div
            label(for="tabChoice")
            | Select tab and click save below to set up the tab
            |
            br
            br
            |
            | Tab &nbsp;
            select#tabType
              option(value='dcp') DCP
              |
              option(value='cowatch') CoWatch
              |
              option(value='timer') Timer
              |
              option(value='settings') Settings
            |
            |
            br
            br
            |
            button#check Check
            |
            br
            br
            |
            div#logs
