extends layout

block scripts
  script(src="/public/utils.js")
  script(src="/src/scripts/cowatch.js")

block content
    div(style='text-align:center')
        h1 Platform Extensibility App
        p Welcome to #{title}
        div
            br
            | Meeting API &nbsp;
            select#meetingApiType
              option(value='state') Meeting State
              |
              option(value='shareToStage') Share To Stage
            |
            |
            br
            br
            button#start Start
            |
            |
            br
            br
            div#logs