extends layout

block scripts
  script(src="/public/utils.js")
  script(src="/src/scripts/cowatch.js")

block content
    div(style='text-align:center')
        h1 Platform Extensibility App
        p Welcome to #{title}
        div
            br
            button#start Start