extends layout

block scripts
  script(src="/public/utils.js")
  script(src="/src/scripts/cowatch.js")

block content
    div(style='text-align:center')
        h1 Platform Extensibility App
        p Welcome to #{title}
        div
            br
            input(type='text', name='ShareToStage' placeholder='true/false')
            =" "
            |
            |
            br
            br
            button#start Start
            |
            |
            br
            br
            div#logs