extends layout

block scripts
  script(src="/public/index.js")

block content
  div(style='text-align:center')
    h1 Platform Extensibility App
    p Welcome to #{title}
    div
      table
        tbody
          tr
            td
              | API Type &nbsp;
              select#apiType
                option(value='selectMedia') Select Media
                |
                option(value='getMedia')  Get Media
                |
                option(value='viewImages') View Images
              |
              br
              |
              br
              | Media Type &nbsp;
              select#mediaType
                option(value='video') Video
                |
                option(value='image')  Image
                |
                option(value='audio') Audio
              |
              br
              |
              br
              button(id='start') Call API
            td
              textarea(id='inputTextArea')
      table
        tbody
          tr
            td
              button(id='clearLogs') Clear Logs
              |
              div(id='logs')
              |
              div(id='blob')    