extends layout

block scripts
  script(src="/public/index.js")

block content
  div(style='text-align:center')
    h1 Platform Extensibility App
    p Welcome to #{title}
    div
      table
        tbody
          tr
            td
              button(id='selectMedia') Select Media
          tr
            td
              textarea(id='selectMediaITA')
            //- td
            //-   textarea(id='selectMediaOTA')
          tr
            td
              button(id='getMedia') Get Media
          tr
            td
              textarea(id='getMediaITA')
            //- td
            //-   textarea(id='getMediaOTA')
          tr
            td
              button(id='viewImages') View Images
          tr
            td
              textarea(id='viewImagesITA')
            //- td
            //-   textarea(id='viewImagesOTA')
    br
    div(id='blob')
    br
    button(id='clearLogs') Clear Logs
    br
    div(id='logs')