extends layout

block scripts
  script(src="/javascripts/teamsapp.js")
  script(src="/build/index.js")

block content
  div(style='text-align:center')
    h1 Platform Extensibility App
    p Welcome to #{title}
    div
      table
        tbody
          tr
            td
              button(id='selectMedia') Select Media
            td
              textarea(id='selectMediaITA')
            td
              textarea(id='selectMediaOTA')
          tr
            td
              button(id='getMedia') Get Media
            td
              textarea(id='getMediaITA')
            td
              textarea(id='getMediaOTA')
          tr
            td
              button(id='viewImages') View Images
            td
              textarea(id='viewImagesITA')
            td
              textarea(id='viewImagesOTA')
    br
    br
    div(id='logs') cyxz