<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="/src/stylesheets/style.css">
    <link rel="stylesheet" href="src/stylesheets/msteams-16.css">
    <script src="https://unpkg.com/@microsoft/teams-js@1.10.0/dist/MicrosoftTeams.min.js" crossorigin="anonymous"></script>
    <script src="/public/index.js"></script>
  </head>
  <body>
  <div style="text-align:center">
    <h1>Platform Extensibility App</h1>
    <p>Welcome to DCP </p>
    <div>
      <table>
        <tbody>
          <tr>
            <td>
              <button id="selectMedia">Select Media</button>
            </td>
          </tr>
          <tr>
            <td>
              <textarea id="selectMediaITA"></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <button id="getMedia">Get Media</button>
            </td>
          </tr>
          <tr>
            <td>
              <textarea id="getMediaITA"></textarea>
            </td>
          </tr>
          <tr>
            <td>
              <button id="viewImages">View Images</button>
            </td>
          </tr>
          <tr>
            <td>
              <textarea id="viewImagesITA"></textarea>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <video src="https://dl.infragistics.com/pg/2011-1/web/shared/videoplayer/videos/big_buck_bunny.mp4" controls></video>
    <button id="clearLogs">Clear Logs</button>
    <div id="logs"></div>
    <div id="blob"></div>
  </div>
  </body>
</html>