extends layout
script(src="/javascripts/auth.js")

block content
  div(style='text-align:center')
    h1 Platform Extensibility App
    p Welcome to #{title}
    button(id='promptForConsentButton') Get Auth Token
    br
    br
    div(id='logs')
