extends layout

block scripts
  script(src="/public/utils.js")
  script(src="/src/scripts/teamsapp.js")
  script(src="/src/scripts/auth.js")

block content
  div(style='text-align:center')
    h1 Platform Extensibility App
    p Welcome to #{title}
    button(id='promptForConsentButton') Get Auth Token
    br
    br
    div(id='logs')
