doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/msteams-16.css')

    script(src="https://unpkg.com/@microsoft/teams-js@1.5.2/dist/MicrosoftTeams.min.js" crossorigin="anonymous")
    script(type='type/javascript', src="/javascripts/teamsapp.js")
  body
    block content
