doctype html
html
  head
    title= title
    meta(name='viewport', content='width=device-width, height=device-height, initial-scale=1.0')
    link(rel='stylesheet', href='src/stylesheets/style.css')
    link(rel='stylesheet', href='src/stylesheets/msteams-16.css')
    script(src="https://unpkg.com/@microsoft/teams-js@1.10.0/dist/MicrosoftTeams.min.js" crossorigin="anonymous")
  body
    block content
    block scripts

  footer
    p Copyright &copy;2021 Shivangi Beniwal
    |
    p Contact - shbeniwa@microsoft.com
