doctype html
html
  head
    meta(charset='utf-8')
    |
    meta(name='viewport', content='width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1')
    |
    base(target='_blank')
    |
    title MediaStream Recording
    |
    link(href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700', rel='stylesheet', type='text/css')
    |
    link(rel='stylesheet', href='src/css/main.css')
  body
    #container
      video#live(playsinline='', autoplay='', muted='')
      |
      br
      |
      video#recorded(playsinline='', loop='')
      |
      div
        button#start Start camera
        |
        button#record(disabled='') Start Recording
        |
        button#play(disabled='') Play
        |
        button#download(disabled='') Download
        |
        button#pip(disabled='') Toggle PIP
      |
      div
        | Recording format:
        select#codecPreferences(disabled='')
      |
      div
        span#errorMsg
    // include adapter for srcObject shim
    script(src='https://webrtc.github.io/adapter/adapter-latest.js')
    script(src='public/utils.js')
    script(src='src/js/main.js', async='')
