doctype html
html
  head
    meta(charset='utf-8')
    |
    meta(name='viewport', content='width=device-width, user-scalable=yes, initial-scale=1, maximum-scale=1')
    |
    base(target='_blank')
    |
    title MediaStream Recording
    |
    link(href='//fonts.googleapis.com/css?family=Roboto:300,400,500,700', rel='stylesheet', type='text/css')
    |
    //- link(rel='stylesheet', href='src/css/main.css')

  body
    #container
    table
      tbody
        tr
          td
            video#live(playsinline='', autoplay='', muted='', style='{width: 300px, height: 400px}')
            |
            br
            |
            video#recorded(playsinline='', style='{width: 300px, height: 400px}')
          td
            div
              dl
                dt
                  button#start Start camera
                br
                |
                dt
                  button#record(disabled='') Start Recording
                br
                |
                dt
                  button#play(disabled='') Play
                br
                |
                dt
                  button#download(disabled='') Download
                br
                |
                dt
                  button#pip(disabled='') Toggle PIP
            br
            |
            div
              | Recording format : 
              select#codecPreferences(disabled='')
    div
      span#errorMsg
    // include adapter for srcObject shim
    script(src='https://webrtc.github.io/adapter/adapter-latest.js')
    script(src='public/utils.js')
    script(src='src/js/main.js', async='')
  
  footer
    p Copyright &copy;2021 Shivangi Beniwal
    | 
    p Contact - shbeniwa@microsoft.com 
