extends layout
    script(type='type/javascript', src="/javascripts/auth.js")

block content
  div(style='text-align:center')
    h1 Platform Extensibility App
    p Welcome to #{title}
    br
    input(type='text', name='countVal' placeholder='No. of auth calls ?')
    br
    br
    button(onClick='checkPerformance()') Check Auth Performance
    br
    br
    div
        ul(id='logItems')
           li(id='countSuccess')
           li(id='countError')
