extends layout

block content
  div(style='text-align:center')
    h1 Platform Extensibility App
    p Welcome to #{title}
    br
    input(type='text', name='countVal' placeholder='No. of auth calls ?')
    br
    button(id='promptForAuthPerf') Check Auth Performance
    br
    br
    div
        br
        ul(id="logItems")
        //-    li(id="countSuccess")
        //-    li(id="countError")
