extends layout

block content
  div(style='text-align:center')
    h1 Platform Extensibility App
    p Welcome to #{title}
    button(id='promptForConsentButton') Check Auth Performance
    br
    br
    div(id="logs")
