extends layout

block scripts
  script(src="/javascripts/teamsapp.js")    
  script(src="/javascripts/authPerf.js")

block content
  div(style='text-align:center')
    h1 Platform Extensibility App
    p Welcome to #{title}
    br
    input(type='text', name='totalCount' placeholder='Total no. of auth calls ?')
    input(type='text', name='batchCount' placeholder='Total batch calls ?')
    input(type='text', name='batchInterval' placeholder='Batch interval (in ms) ?')
    button(id='promptForAuthPerf') Check Auth Performance
    br
    br
    div
      table
        thead
          tr
            th Query Details
            th Success / Error
            th Start time
            th End time
            th Total time taken
        tbody(id='resultTableBody')  