extends layout

//- block scripts
//-   script(src="/javascripts/authPerf.js")

block content
script(src="/javascripts/authPerf.js")
  div(style='text-align:center')
    h1 Platform Extensibility App
    p Welcome to #{title}
    br
    input(type='text', name='countVal' placeholder='No. of auth calls ?')
    br
    button(id='promptForAuthPerf') Check Auth Performance
    br
    br
    div
      table
        thead
          tr
            th Total success calls
            th Total error calls
            th Start time
            th End time
            th Total time taken
        tbody(id='resultTableBody')
          tr 
            td(id='countSuccess') 0
            td(id='countError') 0
            td(id='startTime') -
            td(id='endTime') -
            td(id='totalTime') -      
