extends layout

block content
  div(style='text-align:center')
    h1 Platform Extensibility App
    p Welcome to #{title}
    br
    br
    input(type='text', name='countVal' placeholder='How many auth calls?')
    button(id='promptForAuthPerf') Check Auth Performance
    br
    br
    div(id="logs")
        br
        ul(id="logItems")
        //-    li(id="countSuccess")
        //-    li(id="countError")
