#root {
  margin: 0;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #00B7FF;
}

a {
  color: #00B7FF;
}
