#root {
  margin: 0;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #00b7ff;
}

.active, .collapsible:hover {
  background-color: #05151b;
}

.collapsible:after {
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.details {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

footer {
  text-align: center;
  padding: 0.5%;
  background-color: #f2f2f2;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 1%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #008cba;
  color: white;
}

input[type="text"] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

textarea {
  padding: 12px;
}

button {
  display: inline-block;
  padding: 8px 12px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #00b7ff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px #999;
}

button:hover {background-color: #008cba}

button:active {
  box-shadow: 0 3px #666;
  transform: translateY(4px);
}

#blobs {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.blob {
  display: inline-block;
  width: 300px;
  border: 1px solid;
  margin-right: 3px;
}
