[class*="col-"] {
  float: left;
  padding: 15px;
}

/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}

/* ---------------------------------------- */

#root {
  margin: 0;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: #00b7ff;
}

.active, .collapsible:hover {
  background-color: #05151b;
}

.collapsible:after {
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.details {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #f1f1f1;
}

footer {
  text-align: center;
  padding: 0.5%;
  background-color: #f2f2f2;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  text-align: center;
  padding: 1%;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

th {
  background-color: #008cba;
  color: white;
}

input[type="text"] {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

textarea {
  padding: 12px;
}

button {
  position: relative;
  background-color: #008cba;
  border-radius: 8px;
  font-size: 14px;
  color: #ffffff;
  padding: 0.8%;
  width: max-content;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
}

button:after {
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s;
}

button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}

#blobs {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.blob {
  display: inline-block;
  width: 300px;
  border: 1px solid;
  margin-right: 3px;
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}